:root {
  --color-input-bg: #0000;

  --color-brand-primary: #262626;
  --color-brand-black: #000;
  --color-brand-red: #ea2328;
  --color-green-suturated: #00d2a0;
  --color-brand-red-tint: #fcdedf;
  --color-brand-white: #fff;
  --color-brand-secondary: #fff;
  --color-brand-blue: #4287d6;
  --color-blue-rgb: 87, 160, 255;
  --color-brand-light-blue: #00ace0;
  --color-brand-light-blue-tint: #d9f3fb;
  --color-brand-pink: #eb4971;
  --color-brand-green: #00b9be;
  --color-brand-purple: #b36cdb;
  --color-brand-purple-tint: #f4e9fa;
  --color-brand-tip: #2ca01c;
  --color-brand-note: #0074e0;
  --color-brand-important: #b36cdb;
  --color-brand-warning: #ea2328;
  --color-brand-caution: #ff8f00;
  --color-gray-rgb: 115, 118, 138;
  --color-brand-gray1: #292b36;
  --color-brand-gray2: #3d4151;
  --color-brand-gray3: #52566c;
  --color-brand-gray4: #73768a;
  --color-brand-gray5: #c8cbdf;
  --color-brand-gray6: #eaebf1;
  --color-brand-gray7: #f9f9f9;
  --color-brand-gray8: #e5e5e5;
  --color-brand-gray9: #bfbfbf;
  --color-brand-silver: #c1c1c1;
  --color-brand-blue-secondary: #0074e0;
  --color-brand-blue-secondary-light: #2689e5;
  --color-brand-blue-secondary-extra-light: #73b3ee;
  --color-brand-blue-tint: #d9eafb;
  --color-brand-orange: #fc9c0c;
  --color-brand-orange-tint: #fff0da;
  --color-muted: var(--color-brand-gray);
  --color-text: #333;
  --color-code: var(--color-brand-pink);
  --color-border: var(--color-brand-silver);
  --checkbox-border-color: var(--color-brand-gray9);
  --color-link: var(--color-brand-blue-secondary);
  --color-link-active: var(--color-brand-blue-secondary-light);
  --color-link-hover: var(--color-brand-blue-secondary-extra-light);
  --color-border-table: #dadada;
  --color-shade: #f3f3f3;
  --color-navbar-bg: var(--color-brand-black);
  --color-navbar-text: var(--color-brand-white);
  --color-footer-bg: var(--color-shade);
  --color-footer-bg-gray: var(--color-brand-black);
  --color-footer-text: var(--color-text);
  --hljs-attr: #407787;
  --hljs-string: #295d1e;
  --hljs-number: #0711ba;
  --height-spacer: 1.1rem;
  --height-navbar: 6rem;
  --height-version-control: 4.5rem;
  --height-to-body: calc(var(--height-navbar) + var(--height-spacer));
  --height-min-body: calc(100vh - var(--height-to-body));
  --height-toc-sidebar: calc(var(--height-min-body));
  --height-nav: calc(var(--height-min-body) + var(--height-spacer));
  --height-nav-with-version: calc(
    100vh - var(--height-to-body) - var(--height-version-control)
  );
  --nav-menu-top-space: calc(var(--height-to-body) + var(--height-version-control));
  --h2-heading-top-space: calc(var(--height-to-body) + 0.5rem);
  --width-main-gutter: 2.5rem;
  --width-container: 90rem;
  --width-container-fluid: 100%;
  --width-container-gutter: 1.25rem;
  --width-nav: 20rem;
  --width-toc: 13rem;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --z-index-feedback: 8;
  --z-index-nav-toggle: 7;
  --z-index-nav-mobile: 6;
  --z-index-navbar-dropdown-link: 5;
  --z-index-navbar-dropdown: 4;
  --z-index-navbar: 3;
  --z-index-footer: 2;
  --z-index-nav: 1;
  --color-active-tabset: #57a1ff;
  --font-base: 1rem;
  --font-medium: 1.25rem;
  --font-small: 0.875rem;
  --labels-font-size: 0.75rem;
  --labels-line-height: 1;
  --heading-h1: 2.5rem;
  --heading-h2: 2rem;
  --heading-h3: 1.5rem;
  --heading-h4: 1.25rem;
  --heading-h5: var(--font-base);
  --line-height-body: 160%;
  --line-height-heading: 110%;
  --line-height-base: 1.375rem;
  --base-space: 1rem;
  --base-small-space: 0.75rem;
  --base-extra-small-space: 0.5rem;
  --base-medium-space: 1.5rem;
  --base-large-space: 2rem;
  --base-extra-large-space: 2.5rem;
  --column-space: 2.5rem;
  --admonition-icon-space: 1rem;
  --admonition-content-space: 1rem;
  --heading-h1-sm: 2.25rem;
  --heading-h2-sm: 1.75rem;
  --heading-h3-sm: 1.25rem;
  --heading-h4-sm: 0.875rem;
  --image-block-container: 64rem;
  --gap: 20px;
  --card-radius: 15px;
  --card-max-width: 300px;
  --page-container-padding: 40px;
  --green-text-color: #00a872;
  --blue-text-color: #1997e8;
  --gray-text-color: #7f7f7f;
  --gray-light-text-color: #c4c4c4;
  --dark-text-color: #353e47;
  --main-green-text-color: #00d2a0;
  --off-white-text-color: #fcfcfd;
  --h1-font-size: 35px;
  --h1-lh: 35px;
  --h1-mb: 40px;
  --h2-font-size: 30px;
  --h2-lh: 35px;
  --h2-mb: 40px;
  --h3-font-size: 25px;
  --h3-lh: 30px;
  --h3-mb: 20px;
  --right-sidebar-width: 150px;
  --max-page-width: 1920px;
}
@media (max-width: 959px) {
  :root {
    --page-container-padding: 20px;
    --h1-font-size: 30px;
    --h1-lh: 36px;
    --h2-font-size: 25px;
    --h2-lh: 30px;
    --h3-font-size: 21px;
    --h3-lh: 32px;
  }
}
@media (max-width: 639px) {
  :root {
    --h1-font-size: 25px;
    --h1-lh: 30px;
    --h2-font-size: 20px;
    --h2-lh: 23px;
    --h3-font-size: 16px;
    --h3-lh: 19px;
    --card-radius: 10px;
  }
}
